@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes/default";
$nb-enabled-themes: (default);
$nb-themes: nb-register-theme(
  (
    // add your variables here like:
    font-family-primary: unquote("Poppins, Opens Sans, sans-serif"),
    font-family-secondary: font-family-primary
  ),
  default,
  default
);
