<nb-card>
  <nb-card-body>
    <h1 class="text-center">Reasignar contraseña</h1>
    <p>
      Te enviaremos un correo electrónico con un enlace privado para que
      reasignes tu contraseña. Este enlace será válido por una hora.
    </p>
    <form class="form-inline" (ngSubmit)="onSubmit()" aria-labelledby="title">
      <input
        nbInput
        fullWidth
        name="email"
        pattern=".+@.+\..+"
        placeholder="micorreo@gmail.com"
        fieldSize="large"
        autofocus
      />

      <button nbButton fullWidth status="primary" size="large">
        Enviar enlace
      </button>
    </form>

    <section class="text-center" aria-label="Register">
      Estas registrado?
      <a class="text-hint" routerLink="../login">Inicia sesión</a>
    </section>
  </nb-card-body>
</nb-card>
